.app {
    overflow: hidden;
}

.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #e8622e, #e63b2c);
}

.mobile-header-search {
    display: none;
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}
.header__navbar-list{
    list-style: none;
    padding-left:0;
    display: flex;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
}

.header__navbar-item--has-QR:hover .header__QR{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
}

button.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 400;
    background-color: transparent;
    border: none;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover{
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
.header__navbar-item--strong{
    font-weight: 500;
}

.header__navbar-tittle{
    cursor: text;
    color: var(--white-color);
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: var(--white-color);
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.6rem;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    align-items: center;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.header__navbar-user-menu {
    padding-left: 0;
    list-style: none;
    width: 160px;
    border-radius: 2px;
    background-color: var(--white-color);
    position: absolute;
    top: calc(100% + 12px);
    right: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.65);
    z-index: 2;
    display: none;
}

.header__navbar-user-item {
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.header__navbar-user-item:hover a{
    background-color: #fafafa;
    color: aqua;
}

.header__navbar-user-item a{
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    padding: 0px 16px;
    color: var(--text-color);
}

.header__navbar-user-menu::before{
    content: "";
    width: 100%;
    position: absolute;
    display: block;
    top: -15px;
    right: 0;
    height: 20px;
}

.header__navbar-user-menu::after{
    content: "";
    border: 20px solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    z-index: 0;
    right: 32px;
    top: -30px;
    cursor: pointer;
    z-index: 1;
}
/* Header QR code */

.header__QR{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 130%;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.65);
    z-index: 10;
}

.header__QR::before{
    content: "";
    width: 100%;
    position: absolute;
    display: block;
    top: -10px;
    left: 0;
    height: 20px;
}
.header__QR-img{
    width: 100%;
}

.header__QR-apps{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header__QR-download{
    height: 17px;
}

.header__QR-link:nth-child(1){
    margin-left: 11px;
}
.header__QR-link:nth-child(2){
    margin-right: 11px;
}

/* Header Notification */

.header__notify{
    position: absolute;
    top: 150%;
    background-color: var(--white-color);
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    cursor: default;
    animation: notifyGrowth ease-in 0.2s;
    transform-origin: calc(100% - 20px) top;
    will-change: transform, opacity;
    display: none;
    z-index: 3;
}

.header__notify::before{
    content: "";
    width: 100%;
    position: absolute;
    display: block;
    top: -15px;
    left: 0;
    height: 20px;
}

.header__notify::after{
    content: "";
    border: 20px solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 12px;
    top: -30px;
}


@keyframes notifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__navbar-item-hasNotify:hover .header__notify{
    display: block;
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
    user-select: none;
}
.header__notify-header h3{
    color: #999;
    margin: 0;
    font-size:1.6rem;
    font-weight: 400;
    line-height: 40px;
    margin: 0 0 0 12px;
}
.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.1);
}
.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}

.header__notify-info{
    flex: 1;
    margin-left: 12px;
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 500;
    line-height: 1.8rem;
}

.header__notify-description{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-footer{
    text-align: center;
}

.header__notify-footer:hover{
    background-color: #f7f7f7;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 12px;
    display: block;
}


/* Header sort bar */

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    background-color: var(--white-color);
    height: var(--header__sort-bar-height);
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header__sort-bar-height);
    text-align: center;
}

.header__sort-item:before {
    content: "";
    position: absolute;
    top: 50%;
    /* right: 0; */
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item--actived .header__sort-link {
    color: var(--primary-color);
}
/* Authen modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 5px;
    display: none;
}

.auth-form__container{
    padding: 0 32px;
    width: 500px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);

}

.auth-form__switch-btn{
    font-size:1.5rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form{
    margin-top: 16px;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    outline: none;
}

.auth-form__input:focus{
    border-color: aqua;
}

.auth-form__aside {
    margin-top: 16px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;
}

.auth-form__policy-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}

/* #login-form .auth-form__controls {
    margin-bottom: 100px;
} */

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #bbbbbb;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--fb {
    background-color: #3f77f3;
    color: var(--white-color);
}

.auth-form__socials-text {
    margin: 0 20px;
}

.auth-form__socials--gg {
    background-color: #fff;
    color: var(--text-color);
}

.auth-form__helps{
    display: flex;
    justify-content: flex-end;
}

.auth-form__helps-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__helps--separate {
    content: "";
    display: block;
    height: 20px;
    border-left: 1px solid rgb(146, 146, 146);
    margin: -3px 16px 0;
}

.auth-form__helps-forgot {
    color: var(--primary-color);
}

.register#register-form {
    display: block;
}

.login#login-form {
    display: block;
}

/* Header with search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}


#mobile-seach-checkbox:checked ~.header__search {
    display: flex;
}

.mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.header__search-center {
    background-color: var(--white-color);
    height: 40px;
    border-radius: 3px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.header__search-center-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
    z-index: 2;
}

.header__search-center-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    content: var(--text-color);
    padding: 0 16px;
    border-radius: 4px;
}

.header__search-center-input:focus ~ .header__search-history{
    display: block;
}

/* Search history */

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 30px);
    background-color: var(--white-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
    display: none;
}

.header__search-history-heading {
    margin: 12px 16px;
    color: #939393;
    font-size: 1.4rem;
    font-weight: 400;
    user-select: none;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 8px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 16px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 3px;
    margin-right: 3px;
    width: 60px;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}



.header__search-list {
    list-style: none;
    margin: 7px 0 7px 0;
    padding: 0;
}

.header__search-item {
    display: inline-block;
    color: var(--white-color);
    font-size: 1.3rem;
    margin-right: 10px;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list::before{
    content: "";
    width: 100%;
    position: absolute;
    display: block;
    top: -15px;
    right: 0;
    height: 20px;
}

.header__cart-list::after{
    content: "";
    border: 20px solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 32px;
    top: -30px;
    cursor: pointer;
}
.header__cart-icon {
    font-size: 2.5rem;
    color: var(--white-color);
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 12px);
    right: -28px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.65);
    display: none;
    cursor: default;
    z-index: 2;
}

.header__cart-list--none {
    padding: 12px 0;

}

.header__cart-no-cart-img {
    width: 85%;
    display: none;
}

.header__cart-list-messagge {
    font-size: 1.5rem;
    display: none;
    color: var(--text-color);
    margin-top: 10px;
}

.header__cart-list--none .header__cart-no-cart-img,
.header__cart-list--none .header__cart-list-messagge {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list--none .header__cart-content {
    display: none;
}

.header__cart-number {
    position: absolute;
    padding: 0px 5px;
    background-color: var(--white-color);
    color: var(--primary-color);
    top: -6px;
    right: 2px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    border-radius: 40%;
    border: 1px solid var(--primary-color);
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    color: #999;
    font-size: 1.4rem;
    font-weight: 400;
    user-select: none;
}

.header__cart-list-items {
    padding-left: 0;
    list-style: none;
    max-height: 50vh;
    overflow: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    text-align: left;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 1rem;
    margin: 0 4px;
}

.header__cart-item-quantity {
    font-size: 1.2rem;
}

.header__cart-item-body {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.2rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
}

.header__cart-view {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view:hover {
    background-color: rgb(255, 158, 79);
}


/* CONTAINER */

/* Slider  */

.home__banner { 
    display: flex;
    min-height: 235px;
    max-height: 235px;
    margin-bottom: 10px;
}

#sliderFrame {
    width: 100%;
    height: 100%;
    flex: 1;
}

.home__banner-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
}

.home__banner-right-link {
    text-decoration: none;
    color: rgba(0,0,0,.8);
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    overflow: hidden;
    background-position: bottom;
}

.home__banner-right-img { 
    width: 400px;
    height: 115px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* DANH MUC */

.menu {
    background-color: var(--white-color);
    max-height: 108px;
    display: flex;
    max-width: 1200px;
    list-style: none;
    padding: 0 8px;
    overflow: hidden;
}

.menu__item {
    height: 100%;
    margin-right: 20px;
}

.menu__link {
    text-decoration: none;
    display: block;
    min-width: 100px;
}

.menu__link:hover {
    transform: translateY(-2px);
}

.menu__icon {
    width: 45px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 18px auto 8px;
}

.menu__text {
    color: var(--text-color);
    font-size: 1.3rem;
    text-align: center;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.4rem;
    max-width: 100px;
    margin-bottom: 8px;
    word-wrap: break-word;
    overflow: hidden;
    font-weight: 500;
}


/*  */


.app__container {
    background-color: #F5F5F5;
    padding-top: 30px;
}

.app__content {
    padding-top: 24px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(85, 85, 85, 0.1);
    margin-top: 0;
    margin-bottom: 0;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 8px;
}

.category-list {
    padding-left: 0;
    list-style: none;
    margin: 0 0 0 12px;
    padding: 8px 0;
}

.category-item--actived .category-item__link{
    color: var(--primary-color);
}

.category-item--actived .category-item__link:before {
    content: "";
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(calc(-50% - 2px));
    cursor: pointer;
}

.category-item__link {
    position: relative;
    right: 0;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
    color: var(--text-color);
    transition: right linear 0.5;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}


/* Mobile Category */

.mobile__category {
    display: none;
}

.mobile__category-list {
    display: flex;
    padding-left: 0;
    list-style: none;
    max-width: 100%;
    overflow-x: auto;
}

.mobile__category-list::-webkit-scrollbar {
    display: none;
}

.mobile__category-item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile__category-item:nth-of-type(3n + 1) .mobile__category-link {
    background-color: #87AFD8;
}
.mobile__category-item:nth-of-type(3n + 2) .mobile__category-link {
    background-color: #76C9BD;
}
.mobile__category-item:nth-of-type(3n + 3) .mobile__category-link {
    background-color: #88CF81;
}
.mobile__category-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    width: 110px;
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: block;
    border-radius: 5px;
}

/* HOME sort + filter */

.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 3px;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}

.home-filter-btn {
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-curent {
    color: var(--primary-color);
}

.home-filter__page-controls {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    color: var(--text-color);
    font-size: 1.4rem;
    text-decoration: none;
}

.home-filter__page-btn--disabled {
    background-color: #F9F9F9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid rgb(204, 204, 204);
}

.home-filter__page-icon {
    margin: auto;
}


/* PRODUCT ITEM */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: transform linear 0.1s;
    will-change: transform;
    display: block;
    text-decoration: none;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}

.home-product-item__img {
    padding-top: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    margin: 10px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-curent {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0px;
}

.home-product-item__like {
    font-size: 1.4rem;
}

i.home-product-item__like-icon-fill {
    color: #e63a2c;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked i.home-product-item__like-icon-empty {
    display: none;
}
.home-product-item__rating {
    font-size: 0.9rem;
    color: #D5D5D5;
    margin-left: auto;
}

.home-product-item__star--gold {
    color: #f5ce3b;
}

.home-product-item__sell {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    color: #595959;
    font-size: 1.2rem;
}

.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    padding-right: 4px;
}

.home-product-item__favorite:before {
    content: "";
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    filter: brightness(40%);
}

.home-product-item__favorite span {
    color: var(--white-color);
}
.home-product-item__favorite i {
    font-size: 0.9rem;
    margin: 0 3px 0 4px;
    color: var(--white-color);
}

.home-product-item__saleoff {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    color: rgba(255, 216, 64, 0.9);
    background-color: currentColor;
    text-align: center;
    padding: 4px 0;
}

.home-product-item__saleoff::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__saleoff-percent {
    color: red;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 500;
}

.home-product-item__saleoff-label {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: var(--white-color);
    font-weight: 500;
}

.home-product__pagnation {
    margin-top: 50px;
    margin-bottom: 32px;
}

/* FOOTER */

.footer {
    background-color: var(--white-color);
    border-top: 5px solid var(--primary-color);
    padding-top: 120px;
}

.footer__container {
    background-color: #fbfbfb;
}

.footer__content {
    border-top: 1px solid rgb(232, 232, 232);
    border-bottom: 1px solid rgb(232, 232, 232);
    padding-top: 40px;
}

.footer__heading {
    color: #737373;
    font-size: 1.3rem;
    font-weight: 500;
}

.footer-list {
    padding-left: 0;
    list-style: none;
    font-size: 1.3rem;
}

.footer-item__link {
    color: #737373;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__link-icon {
    color: #4a4a4a;
    font-size: 1.6rem;
    margin-right: 6px;
}

.footer__QR {
    display: flex;
}

.footer__QR-img {
    width: 86px;
    height: 86px;
    border: 1px solid #e4e4e4;
    margin-right: 12px;
}

.footer__QR-apps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.footer__QR-download {
    height: 16px;
}

.grid .footer__adding {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    height: 120px
}

.footer__adding-text {
    color: #b8b8b8;
}

.footer__adding-list {
    padding-left: 0;
    list-style: none;
}

.footer__adding-item {
    display: inline-block;
    color: #b8b8b8;
    position: relative;
    padding: 0 3px;
}

.footer__adding-item-link {
    color: #b8b8b8;
    text-decoration: none;
}

.footer__adding-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: #c9c9c9;
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.footer__bottom {
    background-color: #f5f5f5;
    padding-bottom: 40px;
}

.footer__bottom-menu {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bottom-menu-item {
    padding: 40px 0;
    margin: 0 20px;
    position: relative;
}

.footer__bottom-menu-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: var(--text-color);
    right: -21px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.footer__bottom-menu-link {
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
}

.footer__bottom-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bottom-logo-link {
    text-decoration: none;
    color: var(--text-color);
    margin: 0 20px;
}

.footer__bottom-background {
    background-image: url('../../assets/img/app.png');
}

.footer__bottom-bct {
    width: 120px;
    height: 45px;
    background-size: 617.5% 393.3333333333333%;
    background-position: 34.13848631239936% 84.0909090909091%;
}

.footer__bottom-no-fake {
    width: 48px;
    height: 48px;
    background-size: 1543.75% 368.75%;
    background-position: 100% 35.65891472868217%;
}

.footer__bottom-text-1 {
    padding-bottom: 25px;
}

.footer__bottom-text {
    margin-top: 8px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

.footer-list__tt {
    display: flex;
    padding-left: 0;
    list-style: none;
    flex-wrap: wrap;
    width: 19rem;
}

.footer-list__tt-item {
    height: 29px;
    width: 55px;
    margin: 0 0.8rem 0.8rem 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.footer-list__tt-visa {
    background-size: 1347.2727272727273% 983.3333333333334%;
    background-position: 84.6938775510204% 6.289308176100629%;
    height: 18px;
}

.footer-list__tt-mastercard {
    background-size: 1347.2727272727273% 610.3448275862069%;
    background-position: 49.416909620991255% 41.891891891891895%;
    height: 29px;
}

.footer-list__tt-jcb {
    background-size: 1347.2727272727273% 769.5652173913044%;
    background-position: 38.48396501457726% 38.311688311688314%;
    height: 23px;
}

.footer-list__tt-amex {
    background-size: 1482% 804.5454545454545%;
    background-position: 1.447178002894356% 6.451612903225806%;
    height: 24px;
}

.footer-list__tt-cod {
    background-size: 1482% 610.3448275862069%;
    background-position: 59.91316931982634% 63.513513513513516%;
    height: 29px;
}

.footer-list__tt-installment {
    background-size: 1347.2727272727273% 610.3448275862069%;
    background-position: 19.97084548104956% 66.21621621621621%;
    height: 29px;
}

.footer-list__tt-shopeepay {
    background-size: 741% 931.578947368421%;
    background-position: 71.9188767550702% 6.329113924050633%;
    height: 12px;
}

.footer-list__tt-shopee-express {
    background-size: 667.5675675675676% 983.3333333333334%;
    background-position: 65.71428571428571% 35.22012578616352%;
    height: 10px;
}

.footer-list__tt-ghtk {
    background-size: 1347.2727272727273% 983.3333333333334%;
    background-position: 19.97084548104956% 37.735849056603776%;
    height: 18px;
}

.footer-list__tt-ghn {
    background-size: 1347.2727272727273% 610.3448275862069%;
    background-position: 9.037900874635568% 40.54054054054054%;
    height: 29px;
}

.footer-list__tt-viettel-post {
    background-size: 578.90625% 138.28125%;
    background-position: 88.90701468189233% 100%;
    height: 40px;
}

.footer-list__tt-vn-post {
    background-size: 1347.2727272727273% 655.5555555555555%;
    background-position: 1.4577259475218658% 72.66666666666667%;
    height: 27px;
}

.footer-list__tt-jt {
    background-size: 1347.2727272727273% 1106.25%;
    background-position: 95.6268221574344% 6.211180124223603%;
    height: 16px;
}

.footer-list__tt-grab {
    background-size: 552.9850746268656% 610.3448275862069%;
    background-position: 29.9835255354201% 6.756756756756757%;
    height: 15px;
}

.footer-list__tt-ninja {
    background-size: 1235% 680.7692307692307%;
    background-position: 55.947136563876654% 6.622516556291391%;
    height: 20px;
}

.footer-list__tt-best {
    background-size: 1029.1666666666667% 590%;
    background-position: 13.452914798206278% 6.802721088435374%;
    height: 22px;
}
